@model Bookish.Models.BooksViewModel

@{
    ViewData["Title"] = "Existing Books";
    Layout = "_Books";
}

@{
    <h4>All The Books</h4>
    foreach (var book in @Model.Books)
    {
        <tr>
            <td>ID : @book.id</td>
            <td>Title : @book.Title</td>
            <td>
                <form method = "get" action="/books/edit">
                    <button class="btn btn-secondary" id="id" name="id" value="@book.id">Edit</button>
                </form>
            </td>
            <td>
                <form method="post" action="/books/remove">
                    <button class="btn btn-secondary" id="id" name="id" value="@book.id">Delete</button>
                </form>
                <hr/>
            </td>
        </tr>
    }
}










